#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 1em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.line {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer {
  color: #888;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gridLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridCell {
  display: flex;
  width: 15px;
  height: 15px;
  border: 1px solid #555;
  cursor: crosshair;
}

@media (prefers-color-scheme: light) {
  .gridCell {
    border: 1px solid black;
  }
}

.dead {
  background-color: inherit;
  transition: background-color 0.4s ease-out;
}

.alive {
  background-color: rgba(0, 200, 200, 1);
}

.generation {
  color: inherit;
  font-size: larger;
  font-weight: 500;
  height: 25px;
}

.limit {
  margin-top: 25px;
  color: inherit;
  display: flex;
  gap: 5px;
}

.auto-stop {
  color: inherit;
  display: flex;
  gap: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 190px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
}
