#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 1em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.line {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer {
  color: #888;
}

.grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gridLine {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gridCell {
  display: flex;
  width: 15px;
  height: 15px;
  border: 1px solid #555;
  cursor: crosshair;
}

@media (prefers-color-scheme: light) {
  .gridCell {
    border: 1px solid #ddd;
  }
}

.dead {
  background-color: inherit;
  transition: background-color 0.4s ease-out;
}

.alive {
  background-color: rgba(0, 200, 200, 1);
}

.score {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
}

.score--line {
  display: flex;
  flex-direction: column;
}

.generation {
  color: inherit;
  font-size: large;
  font-weight: 500;
  margin: 0;
  padding-top: 28px;
  font-family: monospace;
  text-align: right;
}

.living-cells {
  color: inherit;
  font-size: large;
  font-weight: 500;
  margin: 0;
  padding-bottom: 30px;
  font-family: monospace;
  text-align: right;
}

.limit {
  margin-top: 25px;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}

.auto-stop {
  color: inherit;
  display: flex;
  align-items: center;
  gap: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 230px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-or-graph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
  border: 1px solid #ddd;
  border-radius: 0.3rem;
  margin-bottom: 1rem;
}

.line-inner-wrapper {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .line {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .grid {
    transform: rotate(-90deg);
    margin-top: 60%;
    margin-bottom: 50%;
  }

  .message-or-graph {
    height: 150px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: 12px;
  }

  .line-inner-wrapper {
    width: 290px;
  }
}
